# ─── Node / JavaScript ──────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.vite/

# environment files
.env
.env.*.local

# ─── Python ─────────────────────────────────────────
venv/
.envrc
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ─── OS / Editor junk ───────────────────────────────
.DS_Store
Thumbs.db
.idea/
.vscode/

# ─── Logs ───────────────────────────────────────────
logs/
*.log

# ─── Misc ───────────────────────────────────────────
*.swp
*.swo
